In [111]:
import pdfquery
import pandas as pd

In [37]:
# read and load the pdf
pdf = PDFQuery('./sample-labs/pdfs/doctors_data_heavy_metals_sample.pdf')
pdf.load()

# convert the pdf to XML
pdf.tree.write('./sample-labs/xml-files/metal_lab.xml', pretty_print = True)

In [42]:
# Get the patient's name
patient_name = pdf.pq('LTTextLineHorizontal:in_bbox("20.805, 750.176, 124.507, 759.682")').text()

patient_name_clean = patient_name.split(":")[-1].strip()

print(patient_name_clean)

Sample Patient

In [107]:
# Extracting the metal levels

# Get all of the text boxes
text_box_elements = pdf.pq('LTTextBoxHorizontal')

# Extract the text from the elements
text = [t.text for t in text_box_elements]

# create a list of the metals
metals = text[4:24]

# create a list of the metal symbols
symbols = text[25:45]

# create a list of the reference intervals
references = text[45:65]
references_clean = [float(ref.strip("< ")) for ref in references]

# create a list of the results
results = text[79:99]
results_clean = [float(ref.replace("<dl ","0").strip()) for ref in results]

# print(metals)
# print(symbols)
# print(references)
# print(references_clean)
print(results_clean)

[1.6, 0.074, 12.0, 0.88, 0.0, 0.091, 0.35, 11.0, 0.0, 2.1, 0.55, 7.7, 0.0, 0.0, 0.0, 2.2, 0.0, 0.19, 0.0, 0.0]

In [125]:
# Put it all together in a dataframe
zipped = list(zip(metals,symbols,references_clean,results_clean))

df = pd.DataFrame(zipped, columns=['Metal', 'Symbol', 'Reference_Level', 'Result'])

df

          Metal Symbol  Reference_Level  Result
0     Aluminum   (Al)            15.000   1.600
1     Antimony   (Sb)             0.180   0.074
2      Arsenic   (As)            40.000  12.000
3       Barium   (Ba)             5.000   0.880
4    Beryllium   (Be)             0.100   0.000
5      Bismuth   (Bi)             0.800   0.091
6      Cadmium   (Cd)             0.600   0.350
7       Cesium   (Cs)             9.000  11.000
8   Gadolinium   (Gd)             0.500   0.000
9         Lead   (Pb)             1.100   2.100
10     Mercury   (Hg)             0.800   0.550
11      Nickel   (Ni)             4.000   7.700
12   Palladium   (Pd)             0.200   0.000
13    Platinum   (Pt)             0.100   0.000
14   Tellurium   (Te)             0.200   0.000
15    Thallium   (Tl)             0.400   2.200
16     Thorium   (Th)             0.007   0.000
17         Tin   (Sn)             3.000   0.190
18    Tungsten    (W)             0.400   0.000
19     Uranium    (U)             0.030   0.000

In [126]:
# Add a column with the +/- 
df['difference'] = df.Result - df.Reference_Level
df['pct_difference'] = df.difference / df.Reference_Level
df

          Metal Symbol  Reference_Level  Result  difference  pct_difference
0     Aluminum   (Al)            15.000   1.600     -13.400       -0.893333
1     Antimony   (Sb)             0.180   0.074      -0.106       -0.588889
2      Arsenic   (As)            40.000  12.000     -28.000       -0.700000
3       Barium   (Ba)             5.000   0.880      -4.120       -0.824000
4    Beryllium   (Be)             0.100   0.000      -0.100       -1.000000
5      Bismuth   (Bi)             0.800   0.091      -0.709       -0.886250
6      Cadmium   (Cd)             0.600   0.350      -0.250       -0.416667
7       Cesium   (Cs)             9.000  11.000       2.000        0.222222
8   Gadolinium   (Gd)             0.500   0.000      -0.500       -1.000000
9         Lead   (Pb)             1.100   2.100       1.000        0.909091
10     Mercury   (Hg)             0.800   0.550      -0.250       -0.312500
11      Nickel   (Ni)             4.000   7.700       3.700        0.925000
12   Palladium   (Pd)             0.200   0.000      -0.200       -1.000000
13    Platinum   (Pt)             0.100   0.000      -0.100       -1.000000
14   Tellurium   (Te)             0.200   0.000      -0.200       -1.000000
15    Thallium   (Tl)             0.400   2.200       1.800        4.500000
16     Thorium   (Th)             0.007   0.000      -0.007       -1.000000
17         Tin   (Sn)             3.000   0.190      -2.810       -0.936667
18    Tungsten    (W)             0.400   0.000      -0.400       -1.000000
19     Uranium    (U)             0.030   0.000      -0.030       -1.000000